* {
    font-family: 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px;
    text-align: center;
    border: 10px;
}


.container  {
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    border: 10px;
}

#start {
    background-color:indigo;
    color:white;
    font-size: 24px;
    padding: 10px;
    border-radius: 10px;
    margin: 0 10px 10px 0;
    border: none;
    list-style-position: inside;
}

#countdown {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    text-align: center;
    margin: 10px;
    border: 0px;
}
